/*
Author: Ariful islam.

************My Portfolio*************
year- 2020

*************INDEX*************
			0. Common
			1. Slider
			2. Navbar
			3. About
			4. Skills
			5. Status
			6. Quality work
			7. Services
			8. Location / map
			9. Footer
		   10. Back to top
*/

/********************0. Common part*****************/
body {
	font-size: 17px;
    color: #333;
    background-color: #fff;
    letter-spacing: 1px;
}
/********************** 01. Slider part  *************************/
.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.4);
}

.slides-navigation {
	z-index: 6;
}

.slides-navigation .prev,
.slides-navigation .next {
	width: 47px;
	height: 47px;
	background-size: cover;
	background-repeat: no-repeat;
}

.slides-navigation a.prev {
	left: 20px;
	background-image: url(../img/icons/prev.png);
}

.slides-navigation a.next {
	right: 20px;
	background-image: url(../img/icons/next.png);
}

.titleMessage {
	position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    z-index: 5;
    text-align: center;
    margin-top: -125px;
}

.titleMessage .heading p {
	color: #fff;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
    font-weight: 100;
    letter-spacing: 7px;
}
/*@media screen and (max-width: 575px){
   .titleMessage .heading .main {
    letter-spacing: 4px;
    font-size: 15px;
   }
}*/

.titleMessage .heading .main {
	font-size: 60px;
	font-weight: bold;
}

.titleMessage .heading .sub {
	font-size: 30px;
}
/********************** 02. Navbar part*************************/
#navigation {
	background-color: #e74c3c;
    padding: 20px 10px;
    z-index: 100;
    width: 100%;
}

#navigation li {
	padding: 0 10px;
}

#navigation li a {
	color: #fff;
	font-size: 18px;
	font-weight: bold;
}

#navigation li:hover a{
	color: #ffde5d;
}

.navbar-brand,
.navbar-brand:hover {
	color: #fff;
}

.navbar-toggler-icon {
	background: url(../img/icons/menu.png);
	background-size: 100%;
}

.fixedNav #navigation {
	position: fixed;
	top: 0;
}
.hire-me{
	float: right;
	color: #fff;
	font-size: 16px;
    padding: 5px;
    border: 1px solid white;
    margin-right: 15px;
    visibility: show;
}
 .hire-me:hover{
   background: white;
   color: #343a40;
}

.modal-header{
	background-image:linear-gradient(to left, #194585, #16043b);
}
 
.section {
	padding: 100px 0;
}
/***********************03. About *************************/
.aboutImage {
	max-width: 80%;
	border-radius: 20%;
}

.aboutImage1 {
/*  max-width: 80%;
  max-height: 65%;*/  
  max-width: 250px;
  max-height: 250px%;
  border-radius: 20%;
  padding-top: 0px;
}


/***********************04. Skills Sections *************************/

.skillsSection {
	background-color: #32637c;
	color: #fff;
	background-attachment: fixed;
	background-position: center;
}

.skill {
	text-align: center;
	margin-left: 10px;
}
@media screen and (max-width: 575px){
	.squareItem{
		max-width: 300px;
       margin: 0 auto;
	}
}
.chart {
	position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;
    text-align: center;
}

.chart canvas {
	position: absolute;
    left: 0;
    top: 0;
}

.chart .percent {
	color: #000;
    line-height: 152px;
    display: inline-block;
    font-size: 35px;
}

.chart .percent:after {
	content: '%';
}

/***********************05. Status section *************************/
.statsSection{
   background: linear-gradient(rgba(0,0,0,.75), rgba(0,0,0,.75)), url('../img/9.png') center center/cover no-repeat;
   /*background: linear-gradient(rgba(247,68,61,.8), rgba(252,82,70,.8)), url('../img/9.png') center center/cover no-repeat;*/
   background-attachment: fixed;
}
.squareItem {
	margin-top: 30px;
    position: relative;
}
.squareInnerContainer {
	position: relative;
	padding: 50px 15px 35px;
	text-align: center;
	border: 3px solid #fff;
	border-top: none;
}

.squareInnerContainer:before,
.squareInnerContainer:after {
	content: '';
	position: absolute;
	top: 0px;
	width: 30%;
	border-bottom: 3px solid #fff;
}
.squareInnerContainer:before {
	right: 0px;
}
.squareInnerContainer:after {
	left: 0px
}
.squareContent h2 {
	font-size: 56px;
	margin-bottom: 10px;
	font-weight: 400;
	color: #f1f1f1;
}
.squareContent h3 {
	font-size: 17px;
	font-weight: 600;
	margin: 0;
}
.squareContent .counterplus:after{
    content: '+';
}
.squareIcon {
	position: absolute;
    left: 50%;
    top: -30px;
    width: 40%;
    height: 60px;
    font-size: 45px;
    margin-left: -20%;
    color: #fff;
}
/***********************06. Quality work *************************/

.contactButton {
	color: #fff;
    padding: 15px 20px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid #fff;
    border-radius: 2px;
}
.contactSection {
	background-color: #585858;
	color: #fff;
}
.contactButton:hover {
	text-decoration: none;
	color: #e74c3c;
	background-color: #fff;
}
.filter a {
	color: #bdc3c7;
	border: 1px solid #bdc3c7;
	padding: 10px 18px;
	display: block;
}
.filter li {
	display: inline-block;
	padding: 5px
}
.filter .current {
	background-color: #e74c3c;;
	border-color: #e74c3c;
	color: #fff;
}
.filter {
	text-align: center;
	width: 100%;
}
.section .heading {
	text-align: center;
	padding-bottom: 40px;
	width: 100%;
}
.items li {
	display: inline-block;
	padding: 5px;
}
.itemsContainer {
	width: 100%;
}
.items li img {
	width: 100%;
	-webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}
.items .item {
	position: relative;
	display: block;
	overflow: hidden;
	border: 3px solid orange;
}
.items .icons {
	position: absolute;
    width: 90px;
    height: 40px;
    left: 35%;
    top: 50%;
    margin: -20px auto 0 -47px;
    text-align: center;
    z-index: 3;
}
.items .icons .ic {
	/*color: #fff;
    font-size: 20px;
    margin-top: 9px;*/
    margin-left: 25px;
}
.items a {
	width: 40px;
    height: 40px;
    /*background-color: #e74c3c;*/
    position: relative;
    display: inline-block;
    -webkit-transition: all 0.2s linear, 0.2s;
    -moz-transition: all 0.2s linear, 0.2s;
    -o-transition: all 0.2s linear, 0.2s;
    -ms-transition: all 0.2s linear, 0.2s;
    -transition: all 0.2s linear, 0.2s;
}
.items .imageOverlay {
	width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}
.items .item:hover .imageOverlay {
	opacity: 1;
}
.items .openButton {
	float: left;
	left: -300px;
}
.items .projectLink {
	float: right;
	right: -350px;
}
.items .item:hover .openButton {
	left: 0px;
}
.items .item:hover .projectLink {
	right: 0px;
}

.items .item:hover img {
	-webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -transform: scale(1.05, 1.05);
}

.items {
	padding: 0;
}
/*****************07. Services part******************** */
.features_area {
  padding: 100px 0px; }
  @media (max-width: 1199px) {
    .features_area {
      padding-bottom: 50px; } }

.main_title h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
    line-height: 50px;
    text-transform: uppercase;
}      

.feature_item {
  padding: 45px 25px;
  text-align: center;
  background: #f9f9fd;
  cursor: pointer;
  margin-bottom: 30px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s; }
  .feature_item img {
    margin-bottom: 35px; }
  .feature_item h4 {
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: uppercase; }
  .feature_item p {
    margin-bottom: 0px; }
  .feature_item:hover {
    box-shadow: 0px 15px 30px rgba(77, 87, 222, 0.3);
    background: #fff; }


/********************08. Location/ map************************/
.mapouter{
	position:relative;
	text-align:right;
	max-height:400px;
	width:100%;
	}
.gmap_canvas {
	overflow:hidden;
	background:none!important;
	max-height:400px;
	width:100%;
	}
/*******************************09. Footer part*********************/
.copyrightSection {
	/*background-color: #000;*/
	color: #fff;
	padding: 30px 0px;
}

.copyrightSection p {
	margin: 0;
	font-size: 16px;
}

/***********icon***********/
.ficons i{
	font-size: 27px;
	/*letter-spacing: 15px;*/
	padding: 10px;
	/*background: #403a34;*/
	background: #383838;
}

.ficons i:hover{
	background: #ccc;
	transition: all 0.4s linear, 1s;
	border-top-right-radius: 50%;
	border-bottom-left-radius: 50%;
	/*color: blue;*/
}
/*********************10. Back to top******************/
#backtotop {
    position: fixed;
    right: 3%;
    bottom: 8%;
    z-index: 999;
    color: #18cfab;
    background: transparent;
    /*background: #;*/
    border: 2px solid;
    transition: .3s;
}


/*<!-- ***********skillbar************ -->*/
body {
  /* font-family: 'Source Sans Pro', Arial, sans-serif;*/
  background: black;
  background: #111c27;
  height: 100vh;
  margin: auto;
}

.container-skillbar {
  width: 60%;
  height: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  margin: auto !important;
  justify-content: center;
  padding: 0;
}

.skillbar {
  position: relative;
  display: block;
  width: 100%;
  background: #efefef;
  border-radius: 3px;
  transition: 0.4s linear;
  transition-property: width, background-color;
  margin-bottom: 25px;
  border-radius: 3px 3px 3px 3px;
  background: hsl(207deg 50% 5%);
  height: 32px;
  max-height: 6%;

  overflow: hidden;
  box-shadow: 0 0 1px 0.75px rgb(22 26 38), 0 0 2px 0.75px rgb(67 68 88 / 50%);
}

.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  font-weight: bold;
  font-size: 13px;
  color: #fff;
  background: #6adcfa;

  background-color: black !important;
  background-image: linear-gradient(
    #272028,
    #231d1f,
    #201921,
    #231e1b,
    #231c24
  ) !important;
  box-shadow: 0px 0 2.5px 1px #130c09 !important;
  margin-bottom: 25px;
  background: #09131b;
  height: 100%;
  overflow: hidden;
}
.skillbar-title span {
  background: rgba(0, 0, 0, 0.15);
  padding: 0 20px;
  font-family: "Proxima Nova", sans-serif;
  font-size: 10px !important;
  letter-spacing: 1.6px !important;
  text-transform: uppercase !important;
  color: #a09a9c;
  text-shadow: 0.5px 0.5px 0.5px #352f31, -0.5px 0.5px 0.5px #161415,
    0.5px -0.5px 0.5px #2f292b, -0.5px -0.5px 0.5px #424242, 0 0 1px #302a2c,
    0 0 2px #160d10;
  height: 100%;
  overflow: hidden;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.skillbar-bar {
  width: 0px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  height: 32px;
  width: 50%;
  display: block;
  border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
}

.skill-bar-percent {
  position: absolute;
  right: 6px;
  top: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: white;
  font-family: Roboto Condensed;
}

.one,
.two,
.three,
.four,
.five,
.six,
.seven {
  background-image: linear-gradient(
    var(--center-1),
    var(--center-2),
    var(--center-3)
  );
  box-shadow: 0 0 0.5px var(--center-3),
    -3px -20px 14px 3px rgba(20, 7, 14, 0.15),
    3px 20px 14px -3px rgba(241, 249, 255, 0.025),
    -3px -17px 14px -3px rgba(241, 249, 255, 0.025),
    0 -20px 10px -10px rgba(44, 6, 13, 0.05) inset,
    0 -0px 10px -10px rgba(44, 6, 13, 0.05) inset,
    0 30px 20px -10px rgba(241, 249, 255, 0.05) inset,
    0 -0.25px 0.75px 0.25px var(--center-1),
    0 0.5px 0.75px 0.25px var(--center-3), 0 -0.75px 2px -0.75px var(--center-1),
    0 0.75px 2px -0.75px var(--center-3),
    0 1px 1.75px -0.75px var(--center-4) inset,
    0 -3px 4px -3px var(--center-5) inset, 0 3px 3px -3px var(--center-6),
    0 -4px 7px -4px var(--center-1), 0 4px 7px -4px var(--center-6);
}

.skillbar-bar.one {
  background-image: linear-gradient(#0f1621, #171d33, #222632);
  box-shadow: 0 0 0.5px #222632, -3px -20px 14px 3px rgb(20 7 14 / 15%),
    3px 20px 14px -3px rgb(241 249 255 / 3%),
    -3px -17px 14px -3px rgb(241 249 255 / 3%),
    0 -20px 10px -10px rgb(44 6 13 / 5%) inset,
    0 0px 10px -10px rgb(44 6 13 / 5%) inset,
    0 30px 20px -10px rgb(241 249 255 / 5%) inset,
    0 -0.25px 0.75px 0.25px #0f1622, 0 0.5px 0.75px 0.25px #222632,
    0 -0.75px 2px -0.75px #0f1622, 0 0.75px 2px -0.75px #222632,
    0 1px 1.75px -0.75px #313842 inset, 0 -3px 4px -3px #1c1f30 inset,
    0 3px 3px -3px #3d3a4d, 0 -4px 7px -4px #0f1622, 0 4px 7px -4px #3d3a4d !important;
}

.skillbar-bar.two {
  background-image: linear-gradient(
    rgb(61 48 110),
    rgb(80 60 121),
    rgb(106 90 189),
    rgb(106 90 189)
  );
  box-shadow: 0 0 0.25px rgb(106 90 189),
    -0.5px -0.75px 1px rgb(241 249 255 / 15%) inset,
    -0.75px -1.5px 1.5px rgb(44 6 13 / 5%) inset,
    0 -0.5px 0.75px 0.25px rgb(61 48 110), 0 0.5px 0.75px 0.25px rgb(106 90 189),
    0 -0.75px 2px -0.75px rgb(61 48 110), 0 0.75px 2px -0.75px rgb(106 90 189),
    -0.5px -2px 3px 0.75px rgb(44 6 13 / 90%),
    -15px -20px 20px 2px rgb(150 90 64 / 35%),
    -7px -7px 5px -0.5px rgb(150 90 64 / 50%),
    -7px -3px 7px rgb(201 149 135 / 55%),
    -10px -10px 15px rgb(201 149 135 / 25%);
}

.skillbar-bar.three {
  background-image: linear-gradient(#4058a2, #3c5fb9, #0d7bf4, #2680f8);
  box-shadow: 0 0 0.25px #0d7bf4,
    -0.5px -0.75px 1px rgba(241, 249, 255, 0.15) inset,
    -0.75px -1.5px 1.5px rgba(44, 6, 13, 0.05) inset,
    0 -0.5px 0.75px 0.25px #4058a2, 0 0.5px 0.75px 0.25px #2680f8,
    0 -0.75px 2px -0.75px #4058a2, 0 0.75px 2px -0.75px #2680f8,
    -0.5px -2px 3px 0.75px rgba(44, 6, 13, 0.9),
    -15px -20px 20px 2px rgba(150, 90, 64, 0.35),
    -7px -7px 5px -0.5px rgba(150, 90, 64, 0.5),
    -7px -3px 7px rgba(201, 149, 135, 0.55),
    -10px -10px 15px rgba(201, 149, 135, 0.25);
}

.four {
  background-image: linear-gradient(
    rgb(63 136 181),
    rgb(52 148 199),
    rgb(15 206 251),
    rgb(21 202 247)
  );
  box-shadow: 0 0 0.25px rgb(15 206 251),
    -0.5px -0.75px 1px rgb(241 249 255 / 15%) inset,
    -0.75px -1.5px 1.5px rgb(44 6 13 / 5%) inset,
    0 -0.5px 0.75px 0.25px rgb(63 136 181),
    0 0.5px 0.75px 0.25px hsl(192deg 93% 53%),
    0 -0.75px 2px -0.75px rgb(63 136 181), 0 0.75px 2px -0.75px rgb(21 202 247),
    -0.5px -2px 3px 0.75px rgb(44 6 13 / 90%),
    -15px -20px 20px 2px rgb(150 90 64 / 35%),
    -7px -7px 5px -0.5px rgb(150 90 64 / 50%),
    -7px -3px 7px rgb(201 149 135 / 55%),
    -10px -10px 15px rgb(201 149 135 / 25%);
}

.six {
  background-image: linear-gradient(
    rgb(181 212 150),
    rgb(161 216 144),
    rgb(181 244 167),
    rgb(179 234 164)
  );
  box-shadow: 0 0 0.25px rgb(181 244 167),
    -0.5px -0.75px 1px rgb(241 249 255 / 15%) inset,
    -0.75px -1.5px 1.5px rgb(44 6 13 / 5%) inset,
    0 -0.5px 0.75px 0.25px rgb(181 212 150),
    0 0.5px 0.75px 0.25px rgb(179 234 164),
    0 -0.75px 2px -0.75px rgb(181 212 150),
    0 0.75px 2px -0.75px rgb(179 234 164),
    -0.5px -2px 3px 0.75px rgb(44 6 13 / 90%),
    -15px -20px 20px 2px rgb(150 90 64 / 35%),
    -7px -7px 5px -0.5px rgb(150 90 64 / 50%),
    -7px -3px 7px rgb(201 149 135 / 55%),
    -10px -10px 15px rgb(201 149 135 / 25%);
}

.five {
  --button-1: hsl(175deg 97% 57%);
  --button-2: hsl(187deg 93% 58%);
  --button-3: hsl(196deg 100% 62%);
  --button-4: hsl(156deg 96% 64%);
  --center-1: hsl(167deg 100% 60%);
  --center-2: hsl(160deg 91% 61%);
  --center-3: hsl(152deg 64% 54%);
  --center-4: hsl(135deg 100% 72%);
  --center-5: hsl(166deg 100% 61%);
  --center-6: hsl(188deg 100% 69%);
}

.four {
  --button-1: hsl(175deg 97% 57%);
  --button-2: hsl(187deg 93% 58%);
  --button-3: hsl(196deg 100% 62%);
  --button-4: hsl(199deg 96% 64%);
  --center-1: hsl(172deg 100% 60%);
  --center-2: hsl(188deg 91% 61%);
  --center-3: hsl(181deg 100% 62%);
  --center-4: hsl(183deg 100% 72%);
  --center-5: hsl(217deg 100% 61%);
  --center-6: hsl(198deg 100% 69%);
}

.seven {
  --button-1: #fcb829;
  --button-2: #f7cf31;
  --button-3: #ffdb3c;
  --button-4: #fbdb4c;
  --center-1: #ffd531;
  --center-2: #f6dc41;
  --center-3: #ffda3b;
  --center-4: #ffe470;
  --center-5: #ffd038;
  --center-6: #ffe160;
}

/*********************************************/

.ftco-section {
  padding: 7em 0;
  position: relative; }
  @media (max-width: 767.98px) {
    .ftco-section {
      padding: 6em 0; } }

.ftco-no-pt {
  padding-top: 0 !important; }

.ftco-no-pb {
  padding-bottom: 0 !important; }

.ftco-bg-dark {
  background: #3c312e; }

  #navi {
  top: 180px;
  position: -webkit-sticky;
  position: sticky;
  margin: 0; }
  #navi ul {
    margin: 0;
    padding: 0; }
  #navi li {
    font-weight: 700;
    list-style: none;
    margin-bottom: 10px; }
    #navi li a {
      color: #000000; }
      #navi li a.current {
        color: #3e64ff;
        margin-left: 20px;
        position: relative; }
        #navi li a.current:after {
          position: absolute;
          top: 50%;
          left: -24px;
          width: 20px;
          height: 2px;
          content: '';
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          background: #3e64ff; }



.resume-wrap {
  width: 100%;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px; }
  .resume-wrap .icon {
    width: 50px;
    height: 50px;
    background: #3e64ff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
    .resume-wrap .icon span {
      color: #fff;
      font-size: 28px; }
  .resume-wrap .text {
    width: calc(100% - 50px); }
  .resume-wrap .date {
    font-weight: 700;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    color: #3e64ff; }
  .resume-wrap h2 {
    font-size: 24px;
    font-weight: 700; }
  .resume-wrap .position {
    font-size: 18px;
    font-weight: 700;
    color: #000000; }

















          



